USE [master]
GO
/****** Object:  Database [GameStoreDB]    Script Date: 29-Apr-26 7:37:46 PM ******/
CREATE DATABASE [GameStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStoreDB', FILENAME = N'/var/opt/mssql/data/GameStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStoreDB_log', FILENAME = N'/var/opt/mssql/data/GameStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStoreDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessTokens]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Expirated] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AccessTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameGenres]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameGenres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_GameGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameKeys]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameKeys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeyCode] [nvarchar](450) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[OrderDetailId] [int] NULL,
	[UsedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GameKeys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Developer] [nvarchar](max) NOT NULL,
	[Publisher] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[TrailerUrl] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](max) NOT NULL,
	[Screenshots] [nvarchar](max) NOT NULL,
	[TotalSales] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[RatingCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MinimumOS] [nvarchar](max) NOT NULL,
	[MinimumProcessor] [nvarchar](max) NOT NULL,
	[MinimumMemory] [nvarchar](max) NOT NULL,
	[MinimumGraphics] [nvarchar](max) NOT NULL,
	[MinimumStorage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IconUrl] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libraries]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libraries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[GameKeyId] [int] NULL,
	[AcquiredAt] [datetime2](7) NOT NULL,
	[LastPlayedAt] [datetime2](7) NULL,
	[TotalPlayTime] [int] NOT NULL,
 CONSTRAINT [PK_Libraries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsRecommended] [bit] NOT NULL,
	[HelpfulCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NOT NULL,
	[Wallet] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 29-Apr-26 7:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426160631_InitialCreate', N'10.0.7')
GO
SET IDENTITY_INSERT [dbo].[GameGenres] ON 

INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (32, 0, 1)
INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (33, 0, 2)
INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (34, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[GameGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

SET IDENTITY_INSERT [dbo].[Games] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (1, N'Action', N'Action games', N'', 1)
INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (2, N'RPG', N'Role-Playing games', N'', 1)
INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (3, N'Strategy', N'Strategy games', N'', 1)
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [GameId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(29.99 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [GameId], [Quantity], [UnitPrice]) VALUES (2, 2, 9, 1, CAST(9.99 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [GameId], [Quantity], [UnitPrice]) VALUES (3, 3, 2, 1, CAST(59.99 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod]) VALUES (1, 2, CAST(N'2026-01-15T00:00:00.0000000' AS DateTime2), CAST(29.99 AS Decimal(18, 2)), N'Completed', N'Wallet')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod]) VALUES (2, 2, CAST(N'2026-02-20T00:00:00.0000000' AS DateTime2), CAST(9.99 AS Decimal(18, 2)), N'Completed', N'Wallet')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod]) VALUES (3, 3, CAST(N'2026-03-10T00:00:00.0000000' AS DateTime2), CAST(59.99 AS Decimal(18, 2)), N'Completed', N'Wallet')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [GameId], [Rating], [Content], [IsRecommended], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (1, 2, 2, 5, N'Masterpiece! Best game I have ever played. The world is incredible and the lore is deep!', 1, 42, CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2), CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [UserId], [GameId], [Rating], [Content], [IsRecommended], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 5, 5, N'Larian did it again. 200 hours and still finding new quests. GOTY!', 1, 38, CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2), CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [UserId], [GameId], [Rating], [Content], [IsRecommended], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 1, 4, N'Great game but still has some bugs. Night City is beautifully crafted though.', 1, 25, CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2), CAST(N'2026-04-26T18:47:44.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (1, N'10000000-0000-0000-0000-000000000001', N'Admin', N'Administrator', N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-04-26T23:06:30.9875439' AS DateTime2), N'')
INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (2, N'20000000-0000-0000-0000-000000000002', N'User', N'Regular User', N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-04-26T23:06:30.9878833' AS DateTime2), N'')
INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (3, N'30000000-0000-0000-0000-000000000003', N'Publisher', N'Game Publisher', N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-04-26T23:06:30.9878850' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [Guid], [UserId], [RoleId], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [CreatedDateTime], [CreatedUser]) VALUES (5, N'e8edaade-f94f-4e52-9c71-7fc261c690c8', 1, 1, N'system', CAST(N'2026-04-26T16:20:23.2133333' AS DateTime2), N'system', CAST(N'2026-04-26T16:20:23.2133333' AS DateTime2), 0, CAST(N'2026-04-26T16:20:23.2133333' AS DateTime2), N'system')
INSERT [dbo].[UserRoles] ([Id], [Guid], [UserId], [RoleId], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [CreatedDateTime], [CreatedUser]) VALUES (6, N'e84d087a-eba5-4711-9153-11da55f164de', 1, 2, N'system', CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), N'system', CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), 0, CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), N'system')
INSERT [dbo].[UserRoles] ([Id], [Guid], [UserId], [RoleId], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [CreatedDateTime], [CreatedUser]) VALUES (7, N'54e1d31f-c364-46a2-bea0-ec42d3d85978', 2, 2, N'system', CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), N'system', CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), 0, CAST(N'2026-04-26T18:47:44.1766667' AS DateTime2), N'system')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [DisplayName], [Email], [Phone], [AvatarUrl], [Wallet], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'vA+k1sE6CjHIwnrF/qmhtgotM741M6gZiLD6n/+cAHA=', 0x8CCC5ADDA16C0C9E190759CBD038678E, N'Administrator', N'admin@gamestore.com', N'', N'', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-26T23:17:13.3690414' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [DisplayName], [Email], [Phone], [AvatarUrl], [Wallet], [IsActive], [CreatedAt]) VALUES (2, N'Phuc', N'G/UpDgOLp6XvitWaGn5RdBzyxCkyzAu+/m/JiaZs0qY=', 0x25B3577FC8A1FF7EC0801FA2F525FEA2, N'WhooTaoo', N'abc2011@gmail.com', N'', N'', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-27T00:04:18.7574642' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [DisplayName], [Email], [Phone], [AvatarUrl], [Wallet], [IsActive], [CreatedAt]) VALUES (3, N'gamer1', N'hashed_password_will_be_replaced_when_user_logins', 0x1234567890ABCDEF1234567890ABCDEF, N'ProGamer', N'gamer1@email.com', N'0123456781', N'', CAST(50.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-26T18:47:44.1633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AccessTokens_UserId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccessTokens_UserId] ON [dbo].[AccessTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameGenres_GameId_GenreId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameGenres_GameId_GenreId] ON [dbo].[GameGenres]
(
	[GameId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameGenres_GenreId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameGenres_GenreId] ON [dbo].[GameGenres]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameKeys_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameKeys_GameId] ON [dbo].[GameKeys]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GameKeys_KeyCode]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameKeys_KeyCode] ON [dbo].[GameKeys]
(
	[KeyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameKeys_OrderDetailId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameKeys_OrderDetailId] ON [dbo].[GameKeys]
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Genres_Name]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Genres_Name] ON [dbo].[Genres]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Libraries_GameId] ON [dbo].[Libraries]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_GameKeyId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Libraries_GameKeyId] ON [dbo].[Libraries]
(
	[GameKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_UserId_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Libraries_UserId_GameId] ON [dbo].[Libraries]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_GameId] ON [dbo].[OrderDetails]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_GameId] ON [dbo].[Reviews]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reviews_UserId_GameId] ON [dbo].[Reviews]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Settings_Name]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Settings_Name] ON [dbo].[Settings]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId_RoleId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserRoles_UserId_RoleId] ON [dbo].[UserRoles]
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_GameId] ON [dbo].[Wishlists]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_UserId_GameId]    Script Date: 29-Apr-26 7:37:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Wishlists_UserId_GameId] ON [dbo].[Wishlists]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessTokens]  WITH CHECK ADD  CONSTRAINT [FK_AccessTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccessTokens] CHECK CONSTRAINT [FK_AccessTokens_Users_UserId]
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD  CONSTRAINT [FK_GameGenres_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenres] CHECK CONSTRAINT [FK_GameGenres_Games_GameId]
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD  CONSTRAINT [FK_GameGenres_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenres] CHECK CONSTRAINT [FK_GameGenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[GameKeys]  WITH CHECK ADD  CONSTRAINT [FK_GameKeys_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameKeys] CHECK CONSTRAINT [FK_GameKeys_Games_GameId]
GO
ALTER TABLE [dbo].[GameKeys]  WITH CHECK ADD  CONSTRAINT [FK_GameKeys_OrderDetails_OrderDetailId] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetails] ([Id])
GO
ALTER TABLE [dbo].[GameKeys] CHECK CONSTRAINT [FK_GameKeys_OrderDetails_OrderDetailId]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_GameKeys_GameKeyId] FOREIGN KEY([GameKeyId])
REFERENCES [dbo].[GameKeys] ([Id])
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_GameKeys_GameKeyId]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Games_GameId]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Games_GameId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Games_GameId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Games_GameId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_UserId]
GO
USE [master]
GO
