USE [GameStoreDB_Full]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK_User_Wallet_NonNegative]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [CK_Review_Rating_Range]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [CK_Review_Helpful_NonNegative]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [CK_Order_TotalAmount_NonNegative]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [CK_OrderDetail_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [CK_OrderDetail_Quantity_Positive]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [CK_Game_Rating_Range]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [CK_Game_Price_NonNegative]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [CK_Game_DiscountPrice_NonNegative]
GO
ALTER TABLE [dbo].[Wishlists] DROP CONSTRAINT [FK_Wishlists_Users_UserId]
GO
ALTER TABLE [dbo].[Wishlists] DROP CONSTRAINT [FK_Wishlists_Games_GameId]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FK_Reviews_Games_GameId]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [FK_Payments_Orders_OrderId]
GO
ALTER TABLE [dbo].[PasswordResetTokens] DROP CONSTRAINT [FK_PasswordResetTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_OrderDetails_Games_GameId]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Libraries] DROP CONSTRAINT [FK_Libraries_Users_UserId]
GO
ALTER TABLE [dbo].[Libraries] DROP CONSTRAINT [FK_Libraries_Games_GameId]
GO
ALTER TABLE [dbo].[GameKeys] DROP CONSTRAINT [FK_GameKeys_OrderDetails_OrderDetailId]
GO
ALTER TABLE [dbo].[GameKeys] DROP CONSTRAINT [FK_GameKeys_Games_GameId]
GO
ALTER TABLE [dbo].[GameGenres] DROP CONSTRAINT [FK_GameGenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[GameGenres] DROP CONSTRAINT [FK_GameGenres_Games_GameId]
GO
ALTER TABLE [dbo].[AccessTokens] DROP CONSTRAINT [FK_AccessTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__5DCAEF64]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Wallet__2B0A656D]
GO
ALTER TABLE [dbo].[Settings] DROP CONSTRAINT [DF__Settings__IsActi__59FA5E80]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsActive__571DF1D5]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Helpful__7A672E12]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__IsRecom__797309D9]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__Status__0F624AF8]
GO
ALTER TABLE [dbo].[Payments] DROP CONSTRAINT [DF__Payments__Paymen__0E6E26BF]
GO
ALTER TABLE [dbo].[PasswordResetTokens] DROP CONSTRAINT [DF__PasswordR__IsUse__29221CFB]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__PaymentM__74AE54BC]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Status__73BA3083]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__IsRea__6FE99F9F]
GO
ALTER TABLE [dbo].[Libraries] DROP CONSTRAINT [DF__Libraries__Total__6B24EA82]
GO
ALTER TABLE [dbo].[Genres] DROP CONSTRAINT [DF__Genres__IsActive__5441852A]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [DF__Games__IsActive__4E88ABD4]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [DF__Games__Rating__4D94879B]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [DF__Games__TotalSale__4CA06362]
GO
ALTER TABLE [dbo].[Games] DROP CONSTRAINT [DF__Games__Price__2BFE89A6]
GO
ALTER TABLE [dbo].[GameKeys] DROP CONSTRAINT [DF__GameKeys__IsUsed__1332DBDC]
GO
/****** Object:  Index [IX_Wishlists_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Wishlists_UserId_GameId] ON [dbo].[Wishlists]
GO
/****** Object:  Index [IX_Wishlists_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Wishlists_UserId] ON [dbo].[Wishlists]
GO
/****** Object:  Index [IX_Wishlists_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Wishlists_GameId] ON [dbo].[Wishlists]
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Users_Username] ON [dbo].[Users]
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Users_Email] ON [dbo].[Users]
GO
/****** Object:  Index [IX_UserRoles_UserId_RoleId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_UserRoles_UserId_RoleId] ON [dbo].[UserRoles]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
GO
/****** Object:  Index [IX_Settings_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Settings_Name] ON [dbo].[Settings]
GO
/****** Object:  Index [IX_Roles_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Roles_Name] ON [dbo].[Roles]
GO
/****** Object:  Index [IX_RolePermissions_RoleId_Permission]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_RolePermissions_RoleId_Permission] ON [dbo].[RolePermissions]
GO
/****** Object:  Index [IX_Reviews_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Reviews_UserId_GameId] ON [dbo].[Reviews]
GO
/****** Object:  Index [IX_Reviews_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Reviews_GameId] ON [dbo].[Reviews]
GO
/****** Object:  Index [IX_Reviews_CreatedAt]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Reviews_CreatedAt] ON [dbo].[Reviews]
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Payments_Status] ON [dbo].[Payments]
GO
/****** Object:  Index [IX_Payments_OrderId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Payments_OrderId] ON [dbo].[Payments]
GO
/****** Object:  Index [IX_PasswordResetTokens_UserId_IsUsed]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_PasswordResetTokens_UserId_IsUsed] ON [dbo].[PasswordResetTokens]
GO
/****** Object:  Index [IX_PasswordResetTokens_Token]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_PasswordResetTokens_Token] ON [dbo].[PasswordResetTokens]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Orders_UserId] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Orders_Status] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Orders_OrderDate] ON [dbo].[Orders]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
GO
/****** Object:  Index [IX_OrderDetails_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_OrderDetails_GameId] ON [dbo].[OrderDetails]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
GO
/****** Object:  Index [IX_Libraries_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Libraries_UserId_GameId] ON [dbo].[Libraries]
GO
/****** Object:  Index [IX_Libraries_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Libraries_UserId] ON [dbo].[Libraries]
GO
/****** Object:  Index [IX_Libraries_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Libraries_GameId] ON [dbo].[Libraries]
GO
/****** Object:  Index [IX_Genres_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Genres_Name] ON [dbo].[Genres]
GO
/****** Object:  Index [IX_Games_Title]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Games_Title] ON [dbo].[Games]
GO
/****** Object:  Index [IX_Games_ReleaseDate]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Games_ReleaseDate] ON [dbo].[Games]
GO
/****** Object:  Index [IX_Games_IsActive]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_Games_IsActive] ON [dbo].[Games]
GO
/****** Object:  Index [IX_GameKeys_OrderDetailId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_GameKeys_OrderDetailId] ON [dbo].[GameKeys]
GO
/****** Object:  Index [IX_GameKeys_KeyCode]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_GameKeys_KeyCode] ON [dbo].[GameKeys]
GO
/****** Object:  Index [IX_GameKeys_GameId_IsUsed]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_GameKeys_GameId_IsUsed] ON [dbo].[GameKeys]
GO
/****** Object:  Index [IX_GameGenres_GenreId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_GameGenres_GenreId] ON [dbo].[GameGenres]
GO
/****** Object:  Index [IX_GameGenres_GameId_GenreId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_GameGenres_GameId_GenreId] ON [dbo].[GameGenres]
GO
/****** Object:  Index [IX_AccessTokens_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_AccessTokens_UserId] ON [dbo].[AccessTokens]
GO
/****** Object:  Index [IX_AccessTokens_Token]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP INDEX [IX_AccessTokens_Token] ON [dbo].[AccessTokens]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wishlists]') AND type in (N'U'))
DROP TABLE [dbo].[Wishlists]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Settings]') AND type in (N'U'))
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermissions]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payments]') AND type in (N'U'))
DROP TABLE [dbo].[Payments]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PasswordResetTokens]') AND type in (N'U'))
DROP TABLE [dbo].[PasswordResetTokens]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetails]') AND type in (N'U'))
DROP TABLE [dbo].[OrderDetails]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
DROP TABLE [dbo].[Notifications]
GO
/****** Object:  Table [dbo].[Libraries]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libraries]') AND type in (N'U'))
DROP TABLE [dbo].[Libraries]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genres]') AND type in (N'U'))
DROP TABLE [dbo].[Genres]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Games]') AND type in (N'U'))
DROP TABLE [dbo].[Games]
GO
/****** Object:  Table [dbo].[GameKeys]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GameKeys]') AND type in (N'U'))
DROP TABLE [dbo].[GameKeys]
GO
/****** Object:  Table [dbo].[GameGenres]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GameGenres]') AND type in (N'U'))
DROP TABLE [dbo].[GameGenres]
GO
/****** Object:  Table [dbo].[AccessTokens]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccessTokens]') AND type in (N'U'))
DROP TABLE [dbo].[AccessTokens]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18-Jun-26 8:00:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [GameStoreDB_Full]    Script Date: 18-Jun-26 8:00:26 PM ******/
DROP DATABASE [GameStoreDB_Full]
GO
/****** Object:  Database [GameStoreDB_Full]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE DATABASE [GameStoreDB_Full]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStoreDB_Full', FILENAME = N'/var/opt/mssql/data/GameStoreDB_Full.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStoreDB_Full_log', FILENAME = N'/var/opt/mssql/data/GameStoreDB_Full_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStoreDB_Full].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStoreDB_Full]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessTokens]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[Expirated] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AccessTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameGenres]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameGenres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_GameGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameKeys]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameKeys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeyCode] [nvarchar](450) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[OrderDetailId] [int] NULL,
	[UsedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_GameKeys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [bigint] NOT NULL,
	[DiscountPrice] [bigint] NULL,
	[Developer] [nvarchar](max) NOT NULL,
	[Publisher] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[TrailerUrl] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](max) NOT NULL,
	[Screenshots] [nvarchar](max) NOT NULL,
	[TotalSales] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[RatingCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MinimumOS] [nvarchar](max) NOT NULL,
	[MinimumProcessor] [nvarchar](max) NOT NULL,
	[MinimumMemory] [nvarchar](max) NOT NULL,
	[MinimumGraphics] [nvarchar](max) NOT NULL,
	[MinimumStorage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IconUrl] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libraries]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libraries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[GameKeyId] [int] NULL,
	[AcquiredAt] [datetime2](7) NOT NULL,
	[LastPlayedAt] [datetime2](7) NULL,
	[TotalPlayTime] [int] NOT NULL,
 CONSTRAINT [PK_Libraries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [bigint] NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [bigint] NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[TransactionId] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[PaidAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsRecommended] [bit] NOT NULL,
	[HelpfulCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Permission] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[Modified] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NOT NULL,
	[Wallet] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 18-Jun-26 8:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260510132755_InitialUnified', N'10.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260604155259_AddPaginationSeedData', N'10.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260604170351_ConvertPricesToBigint', N'10.0.7')
GO
SET IDENTITY_INSERT [dbo].[GameGenres] ON 

INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (1, 1, 1)
INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (2, 1, 3)
INSERT [dbo].[GameGenres] ([Id], [GameId], [GenreId]) VALUES (3, 1, 10)
SET IDENTITY_INSERT [dbo].[GameGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[GameKeys] ON 

INSERT [dbo].[GameKeys] ([Id], [GameId], [KeyCode], [IsUsed], [OrderDetailId], [UsedAt], [CreatedAt], [ExpiresAt]) VALUES (1, 1, N'A8FE-5D51-983B-F07A', 0, NULL, NULL, CAST(N'2026-06-18T09:09:46.4585205' AS DateTime2), CAST(N'2036-06-18T09:09:46.4585676' AS DateTime2))
INSERT [dbo].[GameKeys] ([Id], [GameId], [KeyCode], [IsUsed], [OrderDetailId], [UsedAt], [CreatedAt], [ExpiresAt]) VALUES (2, 1, N'2588-FF0F-6FC0-2112', 0, NULL, NULL, CAST(N'2026-06-18T09:09:46.4586579' AS DateTime2), CAST(N'2036-06-18T09:09:46.4586579' AS DateTime2))
INSERT [dbo].[GameKeys] ([Id], [GameId], [KeyCode], [IsUsed], [OrderDetailId], [UsedAt], [CreatedAt], [ExpiresAt]) VALUES (3, 1, N'D4D6-27DC-40F0-B3B0', 0, NULL, NULL, CAST(N'2026-06-18T09:09:46.4586676' AS DateTime2), CAST(N'2036-06-18T09:09:46.4586677' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[GameKeys] OFF
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

SET IDENTITY_INSERT [dbo].[Games] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (1, N'Action', N'Fast-paced combat and physical challenges', N'', 1)
INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (2, N'Adventure', N'Exploration and story-driven gameplay', N'', 1)
INSERT [dbo].[Genres] ([Id], [Name], [Description], [IconUrl], [IsActive]) VALUES (3, N'RPG', N'Role-playing games with character progression', N'', 1)
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (1, N'10000000-0000-0000-0000-000000000001', N'Admin', N'Administrator', N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-06-18T09:11:20.6376349' AS DateTime2), N'system')
INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (2, N'20000000-0000-0000-0000-000000000002', N'User', N'Regular User', N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-06-18T09:11:20.6378716' AS DateTime2), N'system')
INSERT [dbo].[Roles] ([Id], [Guid], [Name], [Description], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [IsActive], [CreatedDateTime], [CreatedUser]) VALUES (3, N'30000000-0000-0000-0000-000000000003', N'Publisher', N'Game Publisher', N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2026-06-18T09:11:20.6378729' AS DateTime2), N'system')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [Guid], [UserId], [RoleId], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [CreatedDateTime], [CreatedUser]) VALUES (1, N'00000000-0000-0000-0000-000000000001', 1, 1, N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), N'system', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), 0, CAST(N'2026-06-18T09:11:20.6958451' AS DateTime2), N'system')
INSERT [dbo].[UserRoles] ([Id], [Guid], [UserId], [RoleId], [CreatedBy], [Created], [ModifiedBy], [Modified], [IsDeleted], [CreatedDateTime], [CreatedUser]) VALUES (2, N'ac1f118a-2ee1-47de-8f1b-a737300d9486', 2, 2, N'system', CAST(N'2026-06-18T12:36:10.5959383' AS DateTime2), N'system', CAST(N'2026-06-18T12:36:10.5959384' AS DateTime2), 0, CAST(N'2026-06-18T12:36:10.5957719' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [DisplayName], [Email], [Phone], [AvatarUrl], [Wallet], [IsActive], [CreatedAt]) VALUES (2, N'demogame', N'T7V8Xo4hZSBkMXrZrU+w0RgV3hJrmiwpOw70z0WFL10=', 0x3E4DE0DA27808BB38794A1F063C6C9D2, N'DEMO', N'Demo1999@gmail.com', N'0918235678', N'', 0, 1, CAST(N'2026-06-18T12:36:10.4649739' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([Id], [UserId], [GameId], [AddedAt]) VALUES (1, 2, 24, CAST(N'2026-06-18T12:44:42.9549141' AS DateTime2))
INSERT [dbo].[Wishlists] ([Id], [UserId], [GameId], [AddedAt]) VALUES (2, 2, 7, CAST(N'2026-06-18T12:44:43.6056995' AS DateTime2))
INSERT [dbo].[Wishlists] ([Id], [UserId], [GameId], [AddedAt]) VALUES (3, 2, 14, CAST(N'2026-06-18T12:48:12.7778817' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccessTokens_Token]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AccessTokens_Token] ON [dbo].[AccessTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccessTokens_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccessTokens_UserId] ON [dbo].[AccessTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameGenres_GameId_GenreId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameGenres_GameId_GenreId] ON [dbo].[GameGenres]
(
	[GameId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameGenres_GenreId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameGenres_GenreId] ON [dbo].[GameGenres]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameKeys_GameId_IsUsed]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameKeys_GameId_IsUsed] ON [dbo].[GameKeys]
(
	[GameId] ASC,
	[IsUsed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GameKeys_KeyCode]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameKeys_KeyCode] ON [dbo].[GameKeys]
(
	[KeyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameKeys_OrderDetailId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_GameKeys_OrderDetailId] ON [dbo].[GameKeys]
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_IsActive]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Games_IsActive] ON [dbo].[Games]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_ReleaseDate]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Games_ReleaseDate] ON [dbo].[Games]
(
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Title]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Games_Title] ON [dbo].[Games]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Genres_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Genres_Name] ON [dbo].[Genres]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Libraries_GameId] ON [dbo].[Libraries]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Libraries_UserId] ON [dbo].[Libraries]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libraries_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Libraries_UserId_GameId] ON [dbo].[Libraries]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_GameId] ON [dbo].[OrderDetails]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderDate] ON [dbo].[Orders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetTokens_Token]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PasswordResetTokens_Token] ON [dbo].[PasswordResetTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetTokens_UserId_IsUsed]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_UserId_IsUsed] ON [dbo].[PasswordResetTokens]
(
	[UserId] ASC,
	[IsUsed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OrderId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OrderId] ON [dbo].[Payments]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_CreatedAt]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_CreatedAt] ON [dbo].[Reviews]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_GameId] ON [dbo].[Reviews]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reviews_UserId_GameId] ON [dbo].[Reviews]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolePermissions_RoleId_Permission]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RolePermissions_RoleId_Permission] ON [dbo].[RolePermissions]
(
	[RoleId] ASC,
	[Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_Name] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Settings_Name]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Settings_Name] ON [dbo].[Settings]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId_RoleId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserRoles_UserId_RoleId] ON [dbo].[UserRoles]
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_GameId] ON [dbo].[Wishlists]
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_UserId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_UserId] ON [dbo].[Wishlists]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_UserId_GameId]    Script Date: 18-Jun-26 8:00:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Wishlists_UserId_GameId] ON [dbo].[Wishlists]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameKeys] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [Price]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((0)) FOR [TotalSales]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Rating]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Genres] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Libraries] ADD  DEFAULT ((0)) FOR [TotalPlayTime]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Wallet') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'Wallet') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRecommended]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [HelpfulCount]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [Wallet]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccessTokens]  WITH CHECK ADD  CONSTRAINT [FK_AccessTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccessTokens] CHECK CONSTRAINT [FK_AccessTokens_Users_UserId]
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD  CONSTRAINT [FK_GameGenres_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenres] CHECK CONSTRAINT [FK_GameGenres_Games_GameId]
GO
ALTER TABLE [dbo].[GameGenres]  WITH CHECK ADD  CONSTRAINT [FK_GameGenres_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameGenres] CHECK CONSTRAINT [FK_GameGenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[GameKeys]  WITH CHECK ADD  CONSTRAINT [FK_GameKeys_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameKeys] CHECK CONSTRAINT [FK_GameKeys_Games_GameId]
GO
ALTER TABLE [dbo].[GameKeys]  WITH CHECK ADD  CONSTRAINT [FK_GameKeys_OrderDetails_OrderDetailId] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetails] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GameKeys] CHECK CONSTRAINT [FK_GameKeys_OrderDetails_OrderDetailId]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Games_GameId]
GO
ALTER TABLE [dbo].[Libraries]  WITH CHECK ADD  CONSTRAINT [FK_Libraries_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libraries] CHECK CONSTRAINT [FK_Libraries_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Games_GameId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders_OrderId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Games_GameId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Games_GameId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_UserId]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [CK_Game_DiscountPrice_NonNegative] CHECK  (([DiscountPrice]>=(0)))
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [CK_Game_DiscountPrice_NonNegative]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [CK_Game_Price_NonNegative] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [CK_Game_Price_NonNegative]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [CK_Game_Rating_Range] CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [CK_Game_Rating_Range]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetail_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetail_Quantity_Positive]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetail_UnitPrice_NonNegative] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetail_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Order_TotalAmount_NonNegative] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Order_TotalAmount_NonNegative]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Review_Helpful_NonNegative] CHECK  (([HelpfulCount]>=(0)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Review_Helpful_NonNegative]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Review_Rating_Range] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Review_Rating_Range]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_User_Wallet_NonNegative] CHECK  (([Wallet]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_User_Wallet_NonNegative]
GO
USE [master]
GO
